*{
	margin: 0px;
	padding: 0px;
}

header{
	background-color: #DC7633  ;
	height: auto;
}

header .container{
	padding: 15px 0;
}

header a:link{
	text-decoration: none;
}

#logoTienda{
	margin-bottom: 10px;
	margin-top: 10px;
}

#telefono{
	font: 15px/1 Lobster,Arial,sans-serif;
}

main{
	background-color: white  ;
}

main h1{
	font: 28px/1 Lobster,Arial,sans-serif;
	margin-bottom: 15px;
	margin-top: 15px;
}

footer{
	background: #E16344;
	color: white;
	padding: 20px 0;
	text-align: center;
	font-family: "Courier New";
	margin-top: 125px;
}

footer a:link{
	text-decoration: none;
}

.fancyNav{
    overflow: hidden;
    display: inline-block;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.fancyNav li{

    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;

    float: left;
    list-style: none;
}

.fancyNav li:after{

    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;

    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

.fancyNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
    border-radius: 0 4px 4px 0;
}

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
    opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
    opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
    opacity:1;
}

#tienda a,
#sobreNosotros a,
#contacto a{
    color: #5d5d5d;
    display: inline-block;
    font: 19px/1 Lobster,Arial,sans-serif;
    padding: 12px 140px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none;
    white-space:nowrap;
}

.slideMarca{
	margin-top: 60px;
	width:100%
}

.slider-marcas{
    max-width: 700px;
    align: left;
    margin-left: 30px;
}

.productos{
	margin-top: 25px;
	width: 100%;
}

.producto h4{
    font-family: 'Poiret One';
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
}

.producto img{
	border:1px solid #AEAE77;
}

.producto a:link{
	text-decoration: none;
}

.producto a{
	color: black;
}

#myCarousel {
    margin-left: 50px;
    margin-right: 50px;
}

#destacados{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 50px;
}

.parrafo{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#titulo-sobre-nosotros{
    margin-bottom: 30px;
}

#imagen-sobre-nosotros{
    margin-top: 30px;
    margin-bottom: 30px;
}

.ubicaciones{
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    font-weight: bold;
}

.titulo-ubicaciones{
    margin-bottom: 30px;
    margin-top: 30px;
}

.mySlides {display: none}
.mySlidesFrame {display: none}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container a:hover{
    text-decoration: none;
}

/* Next & previous buttons */
.antes, .despues {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 5%;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: #bfbaba;
}

.antesFrame, .despuesFrame {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 3%;
    padding: 10px;
    margin-top: -22px;
    color: #bfbaba;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */
.despues {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.despuesFrame {
    margin-right: -25px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.antesFrame{
    margin-left: -55px;
}

/* On hover, add a black background color with a little bit see-through */
.antes:hover, .despues:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotFrame {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.actived, .dot:hover {
    background-color: #717171;
}

.actived, .dotFrame:hover {
    background-color: #717171;
}

.frame{
    margin-top: 40px;
}

main hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:  #88A95F;
}

.tituloFrame{
    font: 23px/1 Lobster,Arial,sans-serif;
	margin-bottom: 15px;
	margin-top: 40px;
}