<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre Nosotros</title>
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='logo/drawing2.ico') }}" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/micss.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6" align="center">
                    <img src="{{ url_for('static', filename='imagenes/telefonoWeb.png') }}">
                    <b id="telefono">  926 21 13 98</b>
                </div>
                <div class="col-md-6" align="center">
                    <a href="https://www.facebook.com/herbolarioenciudadreal/" target="_blank" ><img src="{{ url_for('static', filename='imagenes/facebook.png') }}"/></a>
                    <a href="https://www.instagram.com/hsolytierra/?hl=es" target="_blank"><img src="{{ url_for('static', filename='imagenes/instagram.png') }}"/></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <img id="logoTienda" src="{{ url_for('static', filename='logo/drawing.png') }}"  width="200" height="200">
                </div>
            </div>
            <div class="row">
                <nav>
                    <ul class="fancyNav">
                        <li id="tienda"><a href="{{ url_for('tienda')}}">La tienda</a></li>
                        <li id="sobreNosotros"><a href="#">¿Quiénes somos?</a></li>
                        <li id="contacto"><a href="{{ url_for('contacto')}}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 id="titulo-sobre-nosotros">Lo Más Saludable Para Tí</h1>
                    <i class="parrafo">
                        Nuestra opción sobre la salud es incorporar diariamente una alimentación
                        variada y ecológica, acompañada de aquellos complementos que la naturaleza
                        nos brinda y no son agresivos para nuestro organismo. El Herbolario Sol y Tierra
                        abrió por primera vez en 1990, mostrando así nuestra larga experiencia.
                        <br><br>Disponemos de una selección de artículos de calidad y al mejor precio.
                        Aquí podrás encontrar una gran variedad de alimentos ecológicos, suplementos
                        naturales, plantas medicinales y Bio-cosmética terapéutica.
                    </i>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" id="imagen-sobre-nosotros">
                    <img src="{{ url_for('static', filename='imagenes/sobreNosotros1.jpg') }}" width="725" height="400">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="parrafo">
                        La experiencia durante más de 25 años nos ha llevado a conocer a las mejores
                        marcas del mercado para ofrecer a nuestros clientes.
                    </i>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="slider-marcas">
                        <img class="slideMarca" src="{{ url_for('static', filename='imagenes/marcas/fila1.png')}}">
                        <img class="slideMarca" src="{{ url_for('static', filename='imagenes/marcas/fila2.png')}}">
                        <img class="slideMarca" src="{{ url_for('static', filename='imagenes/marcas/fila3.png')}}">
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <br>
                <br>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="col-md-12" align="center">
                <a href="https://www.facebook.com/herbolarioenciudadreal/" target="_blank" ><img src="{{ url_for('static', filename='imagenes/facebook.png') }}"/>
                <a href="https://www.instagram.com/hsolytierra/?hl=es" target="_blank"><img src="{{ url_for('static', filename='imagenes/instagram.png') }}"/>
            </div>
        </div>
    </footer>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("slideMarca");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 4000); // Cambia cada 2 segundos
        }
    </script>
</body>
</html>