<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tienda</title>
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='logo/drawing2.ico') }}" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/micss.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6" align="center">
                    <img src="{{ url_for('static', filename='imagenes/telefonoWeb.png') }}">
                    <b id="telefono">  926 21 13 98</b>
                </div>
                <div class="col-md-6" align="center">
                    <a href="https://www.facebook.com/herbolarioenciudadreal/" target="_blank" ><img src="{{ url_for('static', filename='imagenes/facebook.png') }}"/></a>
                    <a href="https://www.instagram.com/hsolytierra/?hl=es" target="_blank"><img src="{{ url_for('static', filename='imagenes/instagram.png') }}"/></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <img id="logoTienda" src="{{ url_for('static', filename='logo/drawing.png') }}"  width="200" height="200">
                </div>
            </div>
            <div class="row">
                <nav>
                    <ul class="fancyNav">
                        <li id="tienda"><a href="#">La Tienda</a></li>
                        <li id="sobreNosotros"><a href="{{ url_for('sobre_nosotros')}}">¿Quiénes somos?</a></li>
                        <li id="contacto"><a href="{{ url_for('contacto')}}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-8">
                    <div class="slideshow-container">
                        <div class="mySlides">
                            <a href="https://www.novadiet.es/index.php/productos/circulatorios-colesterol-y-glucosa/item/525-colestia.html" target="_blank"><img src="{{ url_for('static', filename='imagenes/anuncios/anuncio1.png') }}" style="width:100%"></a>
                        </div>
                        <div class="mySlides">
                            <a href="http://pinisan.com/productos-pinisan/colageno-hidrolizado-forte/" target="_blank"><img src="{{ url_for('static', filename='imagenes/anuncios/anuncio2.png') }}" style="width:100%"></a>
                        </div>
                        <div class="mySlides">
                            <a href="http://www.solgarsuplementos.es/nav/productos/productos/p_SuplementosEspeciales/Pelo_Piel_Unas_Comprimidos.html" target="_blank"><img src="{{ url_for('static', filename='imagenes/anuncios/anuncio3.png') }}" style="width:100%"></a>
                        </div>
                        <a class="despues" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="antes" onclick="plusSlides(1)">&#10095;</a>
                    </div>

                    <br>

                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left: 12px">
                        <img src="{{ url_for('static', filename='imagenes/anuncios/anuncio4.png') }}">
                    </div>
                    <div class="row" style="margin-top: 45px; margin-left: 12px">
                        <img src="{{ url_for('static', filename='imagenes/anuncios/anuncio5.png') }}">
                    </div>
                </div>
            </div>
            <h1>Productos Destacados</h1>
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row productos">
                                <div class="col-sm-3 producto">
                                    <a href="http://pinisan.com/D/product/fitopremium-cardo-mariano/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/9.png')}}" alt="img01"><h4>Cardo Mariano 30cap.<br><br> 12.95€</h4></a>
                                </div>
                                <div class="col-sm-3 producto">
                                    <a href="http://pinisan.com/productos-pinisan/mas-animo/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/2.png')}}" alt="img02"><h4>Más ánimo 30cap. <br><br> 12.90€</h4></a>
                                </div>
                                <div class="col-sm-3 producto">
                                    <a href="http://www.tongil.es/savia.html" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/10.png')}}" alt="img03"><h4>Savia Verde 250ml.<br><br> 17.40€</h4></a>
                                </div>
                                <div class="col-sm-3 producto">
                                    <a href="http://www.salus.es/floradix1" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/4.png')}}" alt="img04"><h4>Floradix 250ml. <br><br> 14.45€</h4></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row productos">
                                <div class="col-sm-3 producto">
                                    <a href="http://pinisan.com/productos-pinisan/bifidsan/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/11.png')}}" alt="img05"><h4>Bifidsan 30cap.<br><br> 16.50€</h4></a>
                                </div>
                                <div class="col-sm-3 producto">
                                    <a href="http://www.esentialaroms.com/productos2.php?idp=53" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/6.png')}}" alt="img06"><h4>Aceite Rosa mosqueta 15ml. <br><br> 9.80€</h4></a>
                                </div>
                                <div class="col-sm-3 producto">
                                    <a href="http://www.salus.es/gastrodiet-comprimidos" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/12.png')}}" alt="img07"><h4>Gastrodiet 40cap.<br><br> 12.85€</h4></a>
                                </div>
                                <div class="col-sm-3 producto">
                                    <a href="https://www.trepatdiet.com/arboldelteesiaceite100ml/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/8.png')}}" alt="img08"><h4>Aceite arbol del té 25ml. <br><br> 16.40€</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Productos de Temporada</h1>
            <div class="row" id="destacados">
                <div class="col-sm-3 producto">
                    <a href="http://pinisan.com/productos-pinisan/adios-panuelos/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/1.png')}}" alt="img02"><h4>Adios Pañuelos 250ml.<br><br> 11.75€</h4></a>
                </div>
                <div class="col-sm-3 producto">
                    <a href="http://pinisan.com/productos-pinisan/pinosan/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/7.png')}}" alt="img01"><h4>Pinosan 250ml.<br><br> 10.90€</h4></a>
                </div>
                <div class="col-sm-3 producto">
                    <a href="http://pinisan.com/productos-pinisan/fitopremium-equinacea/" target="_blank"><img src="{{url_for('static',filename='imagenes/productos/13.png')}}" alt="img03"><h4>Equinácea 30cap.<br><br> 11.70€</h4></a>
                </div>
                <div class="col-sm-3 producto">
                    <a href="http://www.d-intersa.com/productos2.php?idp=43 " target="_blank"><img src="{{url_for('static',filename='imagenes/productos/14.png')}}" alt="img04"><h4>Leriform 30cap.<br><br> xxxx€</h4></a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="col-md-12" align="center">
                <a href="https://www.facebook.com/herbolarioenciudadreal/" target="_blank" ><img src="{{ url_for('static', filename='imagenes/facebook.png') }}"/></a>
                <a href="https://www.instagram.com/hsolytierra/?hl=es" target="_blank"><img src="{{ url_for('static', filename='imagenes/instagram.png') }}"/></a>
            </div>
        </div>
    </footer>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" actived", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " actived";
        }
    </script>
</body>
</html>