<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubicación</title>
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='logo/drawing.ico') }}" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/micss.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
            	<div class="col-md-6" align="center">
                	<img src="{{ url_for('static', filename='imagenes/telefonoWeb.png') }}">
                	<b id="telefono">  926 21 13 98</b>
            	</div>
            	<div class="col-md-6" align="center">
                	<a href="https://www.facebook.com/herbolarioenciudadreal/" target="_blank" ><img src="{{ url_for('static', filename='imagenes/facebook.png') }}"/></a>
                	<a href="https://www.instagram.com/hsolytierra/?hl=es" target="_blank"><img src="{{ url_for('static', filename='imagenes/instagram.png') }}"/></a>
            	</div>
        	</div>
		</div>
	</header>
	<main>
		<div class="container">
    		<div class="row">
            	<div class="col-md-12" align="center">
                	<img id="logoTienda" src="{{ url_for('static', filename='logo/drawing.png') }}"  width="200" height="200">
            	</div>
        	</div>
        	<div class="row">
            	<nav>
            		<ul class="fancyNav">
                		<li id="tienda"><a href="{{ url_for('tienda')}}">La tienda</a></li>
                		<li id="noticias"><a href="{{ url_for('noticias')}}">Salud Natural</a></li>
                		<li id="sobreNosotros"><a href="{{ url_for('sobre_nosotros')}}">¿Quienes somos?</a></li>
                		<li id="contacto"><a href="#">Contacto</a></li>
            		</ul>
        		</nav>
        	</div>
        	<div class="row">
        		<div class="col-md-6">
        			<h1>Donde Encontrarnos</h1>
        			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7166.282701375344!2d-3.937925724729594!3d38.984740067787115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6bc314bb5c5a0f%3A0xb13ac2a9ad8f70dd!2sHerbolario+Sol+y+Tierra!5e0!3m2!1ses!2ses!4v1513373334648" width="450" height="350" frameborder="0" style="border:0;margin-bottom: 30px" allowfullscreen></iframe>
        		</div>
        		<div class="col-md-6">
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<h1>Horario</h1>
        					</div>
        					<div class="row">
        						<i class="horario">De Lunes a Viernes: 10:00 -- 14:00 y 17:00 -- 20:00<br>Sabados: 10:00 -- 14:00<br>Domingos y festivos: CERRADO</i>
        					</div>
        				</div>
        			</div>
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<h1>Contacto</h1>
        					</div>
        					<div class="row">
        						<i>
        							Teléfono: 926 21 13 98<br>
        							Correo electrónico: hsolytierra@gmail.com
        						</i>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
    	</div>
	</main>
	<footer>
		<div class="container">
	  		<div class="col-md-12" align="center">
                <a href="https://www.facebook.com/herbolarioenciudadreal/" target="_blank" ><img src="{{ url_for('static', filename='imagenes/facebook.png') }}"/>
                <a href="https://www.instagram.com/hsolytierra/?hl=es" target="_blank"><img src="{{ url_for('static', filename='imagenes/instagram.png') }}"/>
            </div>
	  	</div>
	</footer>
</body>
</html>

